@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --principal:#918f8f;
    --grama: #7ac74c;
    --veneno: #df67ddfb;
    --fogo: #ee8130;
    --agua: #6390f9;
    --inseto:#388d26;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    background-color: var(--principal);
    margin: 0 auto;
    color: #333333;
    
   
}

/* CABECALHO*/

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
    
}
header .logo,
header .img-button{
    width: 30px;
   cursor: pointer;
}
header .btn-altera-tema{
    background-color: transparent;
    border: none;
}

/* CONTEUDO PRINCIPAL*/
main{
    padding: 25px;
    text-transform: capitalize;
}
main ul {
    list-style: none;
}
 main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    
    justify-content: center;
}
main .card-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
    border-radius: 15px;
   align-items: center;
   transition: 0.4s ease-in-out;
}
main .card-pokemon:hover{
    background-color: #85ffc6;
    transform: scale(1.10)  ;
}

main .card-pokemon .informacoes {
    display: flex;
    justify-content: space-between;  
    border: 1px solid black;
    margin: 10px;
    border-radius: 15px
}
main .card-pokemon  .informacoes span{
    padding: 5px; 
    text-transform: uppercase;

}
 main .gif{
    width: 100px;
 }
 main .lista-dubla{
    display: flex;
    gap: 20px;
 }
 main .poke-grama{
    background-color: var(--grama);
    padding: 10px;
    border-radius: 15px;
 }
 main .poke-veneno{
    background-color: var(--veneno);
    padding: 10px;
    border-radius: 15px;
 }
 main .poke-fogo{
    background-color: var(--fogo);
    padding: 10px;
    border-radius: 15px;
    
 }
 main .poke-agua{
    background-color: var(--agua);
    padding: 10px;
    border-radius: 15px;
 }
 main .poke-inseto{
    background-color: var(--inseto);
    padding: 10px;
    border-radius: 15px;
 }
 main .descricao{
    overflow-y: scroll;
    max-height: 80px; 
    text-align: center;
    padding-right: 10px; 
    font-size: 13px;
 }

